import pexpect
import sys
import os

env = os.environ.copy()

# Set/override KUBECONFIG in the env
env['KUBECONFIG'] = '/tmp/kubeconfig'  

child = pexpect.spawn("virtctl console {{ kubevirt_vm_name }} -n {{ kubevirt_namespace }}", timeout={{ virtctl_timeout }}, env=env, encoding='utf-8')
# child.logfile = sys.stdout  # Show real-time logs

child.expect("Successfully connected.*")
# Send enter key
child.send("\r")
i = child.expect(["login:", "Password:", pexpect.TIMEOUT])
if i in [0, 1]:
    child.sendline("{{ default_username }}")  # Replace with your username
else:
    raise Exception("Login prompt not found")

child.expect("Password:")
child.sendline("{{ default_password }}")  # Replace with your password
child.expect(r"\$ ")
child.sendline("if rpm -q httpd >/dev/null; then echo 'already installed'; else sudo dnf install -y httpd && sudo systemctl enable httpd && sudo systemctl start httpd; fi;exit")
child.expect("logout")
child.send("\x1d")  # Ctrl+]
child.close()
